:root {
  --font-14px: 14px;
  --font-12px: 12px;
  --reset: reset;
  --25px: 25px;
}
nav {
  height: 100px;
  display: flex;
  background-color: antiquewhite;
}
.container-all {
  display: flex;
  align-items: stretch;
  #menu {
    width: 220px;
    height: 100vh;
    background-color: white;
    color: rgb(250, 250, 250);
    transition: 1s;
    .menu-text {
      height: 60px;
      line-height: 50px;
    }
    .menu {
      width: 100%;
      height: 60px;
    }
    .bg-p {
      background-color: #4650dd;
      color: white;
    }
    .bg-w {
      background-color: white;
    }
    button {
      font-size: var(--font-14px) !important;

      .icon {
        margin-right: 10px;
      }
    }
    // 箭頭角度 跟 顏色
    .accordion-button::after {
      background-image: url("../img/gray.svg");
    }
    ul li a {
      width: 100%;
      padding: 10px;
      font-size: var(--font-12px) !important;
      display: block;
      text-align: center;
    }
    ul li a:hover {
      font-size: var(--font-12px) !important;
      background-color: white;
      text-decoration: none;
    }
  }
}

// 縮起乃
#menu.menu-active {
  margin-left: -220px;
}

@media (max-width: 1199px) {
  .container-all {
    #menu {
      width: 100px;
      button {
        font-size: var(--font-12px) !important;
        .icon {
          line-height: var(--25px);
        }
        .menu-topic {
          line-height: 20px;
          margin-bottom: 18px;
        }
      }

      .accordion-button::after {
        position: absolute;
        bottom: 2px;
        left: calc(50% - 10px);
      }
      // .accordion-button:not(.collapse)::after{

      // }
    }
  }
  #menu.menu-active {
    margin-left: -100px;
  }
}
@media (max-width: 992px){
  #main{
    // width: calc(100% - 105px) !important;
    width: calc(100% - 100px) !important;
    // margin: 10px !important;
  }
  #main.main-active{
    width: 100% !important;
  }
}
@media (max-width: 768px){
  #main{
    // width: calc(100% - 105px) !important;
    width: calc(100% - 100px) !important;
  }
  #main.main-active{
    width: 100% !important;
  }
}
