/* nav {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
} */

.container-all {
    display: flex;
    align-items: stretch;
}

#menu  {
    width: 220px;
    height: 100vh;
    background-color: indigo;
    color: rgb(250, 250, 250);
    transition: 1s;
}

#menu  ul li a {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
}

#menu  ul li a:hover {
    /* color: ; */
    background-color: white;
    text-decoration: none;
}

#menu.menu-active {
    margin-left: -220px;
}
